<launch>

  <!-- include basic turtlebot driver -->  
  <include file="$(find turtlebot_roomba_bringup)/launch/minimal.launch" />

  <!-- laser -->
  <include file="$(find turtlebot_roomba_bringup)/launch/laser.launch" /> 

  <!-- Interactive markers teleop -->
  <node pkg="turtlebot_interactive_markers" type="turtlebot_marker_server" name="turtlebot_marker_server"/>
</launch> 
