<launch>
  <node pkg="nodelet" type="nodelet" name="turtlebot_perception_nodelet_manager" args="manager" output="screen" />

    <!-- tilt scan -->
  <node pkg="nodelet" type="nodelet" name="base_scan_converter"
        args="load parsec_perception/LaserToPointCloudConverter turtlebot_perception_nodelet_manager">
    <remap from="~input" to="base_scan" />
  </node>
  <node pkg="nodelet" type="nodelet" name="base_outlier_removal_filter"
        args="load pcl/StatisticalOutlierRemoval turtlebot_perception_nodelet_manager">
    <remap from="~input" to="base_scan_converter/output" />
    <rosparam>
      mean_k: 4
      stddev: 0.1
    </rosparam>
  </node>
  <!-- Filter out points that are immediately surrounding the laser (e.g. the laser mount). -->
  <node pkg="nodelet" type="nodelet" name="base_scan_robot_self_filter"
        args="load parsec_perception/CircularRobotSelfFilter turtlebot_perception_nodelet_manager">
    <remap from="~input" to="base_outlier_removal_filter/output" />
    <rosparam>
      base_frame: base_footprint
      radius: 0.25
      minimal_z_value: 0.0
      maximal_z_value: 0.49
    </rosparam>
  </node>

  <node name="base_cloud_converter" type="point_cloud_converter" pkg="point_cloud_converter">
    <remap from="points2_in" to="base_scan_robot_self_filter/output" />
    <remap from="points_out" to="base_cloud" />
  </node>
</launch>
